:root {
    --primaryColor: #66bb6a;
    --primaryLightColor: #98ee99;
    --primaryDarkColor: #338a3e;
    --secondaryColor: #7cb342;
    --secondaryLightColor: #aee571;
    --secondaryDarkColor: #4b830d;
    --primaryTextColor: #000000;
    --secondaryTextColor: #FFFFFF;
  }